<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-irL22fVCSopDyKOF3ZZciDDajVmtI0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>75678273652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vidConnect</string>
	<key>PROJECT_ID</key>
	<string>vid-connect-92ed6</string>
	<key>STORAGE_BUCKET</key>
	<string>vid-connect-92ed6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75678273652:ios:a1c9a28934a0b9e5c70121</string>
</dict>
</plist>